/*Melon CSS*/
.error
{
	color:#ff0000;
	font-weight: bold;
}
.errorBox
{
	border: solid red;
}

ul
{
	list-style: none;
}

#avaiHeader
{
	font-family:Arial;
	font-weight: bold;
	text-align:center;
}

#dropdownMenu
{
	position: fixed;
	width: 270px !important;
	height: 200px;
	top: 50px;
	z-index: 2;
}

#menu
{
	width:20px;
	top:1px;
	height:15px;
	border:dashed orange;
}

#settings
{
	height: 10px;
	width: 2px;
	top:7px;
	right:3px;
	border:dashed orange;
}

#help
{
	position: fixed;
	right: 40px;
	width: 2px;
	height: 10px;
	top:8px;
	border:dashed orange;
}

#chatButton
{
	border:dashed orange;
}

#friendButton
{
	border:dashed orange;
}

#requestButton
{
	border:dashed orange;
}

#listingButton
{
	text-align:left top;
	font-size:8px;
	position:relative;
	width:105px;
	height:40px;
	bottom:65px;
	left:135px;
	border:dashed orange;
}

.customButton 
{
  border:1px solid #ff0000; /*border color */
  background:#FF2400; /*the color of the button  */
  padding:5px 15px; /*add padding inside of the button*/
  -moz-border-radius: 5px; /* add rounded corners */
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75); /* add drop shadows */
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  color:#f3f3f3; /* text color is white */
  font-size:1em; /* font size is 1em */
  cursor:pointer; /* change cursor when hover */
}

.customButton:hover, .customButton:focus 
{
  background-color :#FDD017; /* the background a little darker*/
  -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75); /* drop shadow is narrower to give a pushed effect */
  -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
  box-shadow: 0 0 1px rgba(0,0,0, .75);
}
 
.avaibar
{
	border:dashed orange;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}

.avaibar .ui-slider-switch 
{ 
	width: 8em;
}

.ui-slider .ui-slider-handle
{
	position: absolute;
	font-size: 10%;
	padding:0px;
}

.listingTags
{
	position:absolute;
	right:0px;
	top:45px;
	border:dashed black 1px;
	width:32%; 
	margin-left:2px;
	height:85%;
}

#listings
{
	position:absolute;
	top:px;
	left:2px;
	width:65%;
	overflow-y:scroll;
	padding:0;
	margin:0;
	height:69%;
	border:dashed black 1px;
	padding-left:0px;
	margin-left:0px;
	
}

.listingsProfile
{
	position:relative;
	top:5px;
	left:0px;
	bottom:5px;
	padding-left:0px;
	margin-left:0px;
	padding-right:0px;
	margin-right:0px;
	padding-bottom:5px;
	margin-bottom:6px;
	margin-top:6px;

}
.listingsPic
{
	position:relative;
	width:65px;
	height:62px;
	left:-35px;
	padding:0;
	margin:0;
	border:dashed orange 1px;
	background:url(/images/edlan.png) no-repeat;
}

.listingsFirst
{	
	position:absolute;
	width:90px;
	height:25px;
	top:0px;
	left:40px;
	margin-top:1px;
	margin-bottom:1px;
	border:dashed orange 1px;
}

.listingsLast
{
	position:absolute;
	width:90px;
	height:25px;
	top:30px;
	left:40px;
	margin-top:1px;
	margin-bottom:1px;
	border:dashed orange 1px;
}

.toggleDiv .ui-slider-switch 
{ 
	width: 8.5em; 
	margin:0px;
	padding:0px;
}